{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-image">
    <div class="text-center">
    <h1 class="head">Sanctuary for all animals</h1>
    </div>
    <div class="container">
        {% for info in sanctuary %}
        <div>
            <h3>{{ info.heading }}</h3>
                <p class=""> {{ info.statement }} </p>
                {% if request.user.is_superuser %}
                <div class="mission">
                    <a href="{% url 'edit_mission' info.id %}" class="btn">
                        <i class="fa-solid fa-user-pen"> Edit the statements</i>
                    </a>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </br>
        <div class="meet-animal">
                <a href="{% url 'animals' %}" class="btn">
                <i class="fa-solid fa-paw"> Come meet the animals</i>
            </a>
        </div>
      </div>
</div>
{% endblock %}