{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- A home page -->
<div class="container-fluid bg-image">
	<div class="text-left">
	   <h1 class="ml-4">Beloved Pet Sanctuary</h1>
	</div>
	<div>
	   <h2 class="ml-5">A safe place for all pets.</h2>
	</div>
	<div class="meet-animal">
	   <a href="{% url 'animals_home_pg' %}" class="btn">
	   <i class="fa-solid fa-people-group"></i> Want to know more about us?
	   </a>
	</div>
	</br>
	<div class="meet-animal">
	   <a href="{% url 'animal_outline' %}" class="btn">
	   <i class="fa-solid fa-paw"></i> Come meet the animals 
	   </a>
	</div>
	<!-- A link to facebook page -->
	<footer class="fixed-bottom text-center">
	   <div class="container-fluid">
	   <section class="footer">
	   <div class="col-12 pb-0">
		  <p class="pb-0">Keep up to date with all our gorgeous pet.</p>
		  <a href="http://www.facebook.com" target="_blank" rel="noopener" class="text-info pt-0"
			 aria-label="Link takes you to our facebook page, it opens in a new tab">
		  <i class="fab fa-facebook-square">			
		  </i> Follow us on Facebook!</a>
	   </div>
	</footer>
</div>
{% endblock %}