{% block content %}
    <div class="container-fluid prints">
        <div class="surround mt-3 mb-3">
            <div class="card text-center">                   
                <header class="card-header bg-brown">
                    <h1>Page Not Found <i class="fa-regular fa-face-disappointed"></i></h1>
                </header>                   
                <div class="card-body text-center p-4">
                    <h2 class="mb-3">Whoops!</h2>
                    <p>Where did you go wrong?</p>
                    <p>Click the above button to start over.</p>   
                    <a href="{% url 'home_pg' %}" class="btn btn-primary btn-large mb-3">Return to the Home Page</a>
                    <img src="https://res.cloudinary.com/katgacoop/image/upload/c_scale,h_504/v1678144053/sad-pet_hsjsdm.jpg" alt="Sad pet">
                <div class="card-footer bg-brown"></div>
            </div>
        </div>
    </div>   
{% endblock %}