{% extends "base.html" %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<br/>
<div class="container-fluid">
    <h2 class="text-center">My Profile</h2>
</div>
<div class="row">
    <div class="col-12 col-md-6">
   <form action="{% url 'add_pet' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <input type="submit" value="Submit" class="btn-signup">
   </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>

{% endblock %}