{% extends "base.html" %}
{% load static %}

{% block content %}
<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->
    <form action="/create-checkout-session" method="POST">
      <button type="submit">Checkout</button>
    </form>
  </body>
  
  <script src="https://js.stripe.com/v3/"></script>
  {% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'donations/js/stripe_elements.js' %}"></script>
{% endblock %}
  
</html>
{% endblock %}