{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="container pet-print">
    <h1 class="text-center">Donate</h1>
    {% for item in bag_items %}
        <div class="row justify-content-center text-center">
            <div class="col-6 mb-1">
                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                <p class="my-0"><strong>{{ item.product.description }}</strong></p>
                <p class="my-0">{{ item.product.get_display_price }}</p>
            </div>
        </div>
    {% endfor %}
    <form action="{% url 'checkout' %}" method="POST" id="payment-form">
        {% csrf_token %}
        <fieldset class="rounded px-3 mb-5">
            <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                <div class="border border-dark">
                    {{ don_form.full_name }}
                </div>
                <div class="border border-dark">
                    {{ don_form.email }}
                </div>
        </fieldset>
        <fieldset class="px-3">
            <legend class="fieldset-label small text-black px-2 w-auto"></legend>
            <!-- A Stripe card element will go here -->
            <div class="mb-3" id="card-element"></div>
            <!-- Used to display form errors -->
            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
            <!-- Pass the client secret to the view so we can get the payment intent id -->
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
            <button>Donate</button>
        </fieldset>
    </form>
</div>

{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}