{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid gray">
    <div class="text-center">
        <h1 class="head">Animals</h1>
    </div>
        <a class="words" href="{% url 'wild_animals' %}">
            <h4 class="text-center">
                <i class="fa-sharp fa-solid fa-forward-step"></i>
                Wild Animals
            </h4>
            <div class="center">
                <img src="https://res.cloudinary.com/katgacoop/image/upload/c_scale,h_448/v1675796577/Sanctuary%20project/wild_animals_oarchx.jpg" 
                alt="An image of wild animals standing together" width="800" height="300">
            </div>
        </a>
        <a class="words" href="{% url 'farm_animals' %}">
            <h4 class="text-center">
                <i class="fa-sharp fa-solid fa-forward-step"></i>
                Farm Animals
            </h4>
            <div class="center">
                <img src="https://res.cloudinary.com/katgacoop/image/upload/c_scale,w_1008/v1675800732/Sanctuary%20project/farm_animals_qnkanc.jpg" 
                alt="An image of farm animals standing together" width="800" height="300">
            </div>
        </a>
        <a class="words" href="{% url 'pets' %}">
            <h4 class="text-center">
                <i class="fa-sharp fa-solid fa-forward-step"></i>
                Pets
            </h4>
            <div class="center">
                <img src="https://res.cloudinary.com/katgacoop/image/upload/c_scale,h_489,w_1565/v1675800550/Sanctuary%20project/pets_tc5cxy.jpg" 
                alt="An image of pets standing together" width="800" height="300">
            </div>
        </a>
    
<!--    <div class="farm"> </div>
        <a class="words" href="{% url 'farm_animals' %}"><h4 class="text-center"><i class="fa-sharp fa-solid fa-forward-step"></i> Farm Animals</h4></a>
    <div class="pets"></div>
    <a class="words" href="{% url 'pets' %}"><h4 class="text-center"><i class="fa-sharp fa-solid fa-forward-step"></i> Pets</h4></a> -->
</div>
{% endblock %}
