body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-y: auto;
}

/* Fonts */
.clr {
    background-color: #bd8564;
    height: 3em;
}

h1 {
    color:#084e0e;
}

h3 {
    color:#9febd8;
    font-family: Geneva, Tahoma, sans-serif;
}

/* Home page background image */
.bg-image {
    background-image: url('https://res.cloudinary.com/katgacoop/image/upload/c_scale,w_1834/v1676208687/animal_tuoiy9.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 80%;
    background-color: rgb(165, 200, 240);
    border: 2px solid #080103;
}

.meet-animal {
    background-image: linear-gradient(90deg, #e9d59f 0%, #e7e690 35%, #c6e67c 100%);
    width: 18rem; 
}

.mission {
    background-image: linear-gradient(90deg, #c47171 0%, #a33501 35%, #e45f13 100%);
    width: 18rem;
}

/* navbar */

a {
    color: rgb(6, 68, 4);
}

/* Animal page background images */
.gray {
    background-image: url('https://res.cloudinary.com/katgacoop/image/upload/c_scale,w_2834/v1675799492/Sanctuary%20project/background_paw_prints_mbdtg6.jpg');
    width: 100%;
    height: 100%;
    background-repeat: repeat;
}

.center {
    display: flex;
    justify-content: center; 
}


.words {
    font-weight: 500;
    color:#476404;
}

.words:hover {
    color:#241803;
}

/* Messages */
.messages {
    color: #422e9d;
    text-align: center;
    font-size: x-large;
}

.timer {
    -webkit-animation: cssAnimation 6s forwards; 
    animation: cssAnimation 6s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 0.5;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 0.5;}
    100% {opacity: 0;}
}

/* Edit the mission statement */

@media (max-width: 667px ) {
    .container {
        max-width: 80%;
    }

    .head {
        font-size: 200%;
    }
}