{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container-fluid gray">
    <div class="text-center">
        <h1>Donate</h1>
    </div>
        {% for don in product %}
        <div class="col">
        <div class="d-flex col-md-6 col-sm-2 justify-content-start justify-content-between justify-content-end">
            <div class="card mt-3 amount">
                <img class="card-img-top image" src="{{ don.image.url }}" alt="{{ don.name }}">
                <h6 class="text-center">{{ don.description }}</h6>
                <h6 class="text-center">{{ don.get_display_price }}</h6>
                <form class="form" action="{% url 'add_to_bag' don.id %}" method="POST">
                    {% csrf_token %}
                        <div class="col-6">
                            <input type="submit" class="text-uppercase text-center" value="Donate">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </form>
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
