{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid gray">
    <div class="container text-center">
        <h1 class="pt-3">Tell us more</h1>
        <h3 class="text-dark">What type of pet are you looking for?</h3>
        <form action="{% url 'adoption' %}" method="POST" id="adoption-form">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="btn-primary">Send Email</button>
        </form>
    </div>
</div>
{% endblock %}
