{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid gray">
    <div class="text-center">
        <h1 class="head">Tell us more</h1>
        <h3 class="text-dark">What type of pet are you looking for?</h3>
        <form class="mt-3" action="{% url 'adoption' %}" method="POST" id="adoption-form">
            {% csrf_token %}
            <table>
            <h5>Perspective pet parents name: {{ form.perspective_pet_parent }}</h5>
            <h5>Your email: {{ form.User_email }}</h5>
            <h5>Do you have any other pets: {{ form.other_pets }}</h5>
            <h5>Please tell us about them:<p>{{ form.please_give_details }}</p></h5>
            <h5>What type of pet are you looking for: {{ form.what_type_of_pet }}</h5>
            <h5>Describe the pet you want: <p>{{ form.pet_you_want }}</p></h5>
            <h5>Where will the pet be kept: {{ form.where_will_the_pet }}</h5>
                
            </table>
            <button class="btn btn-black rounded-0 text-uppercase float-right">Send Email</button>
        </form>
    </div>
</div>
{% endblock %}
